@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  font-family: Poppins, sans-serif;
}

/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
}

.input-container input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.input-container button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #0056b3;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f8f9fa;
}
.text-width{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.todo-item span {
  flex: 1;
}

.todo-item button {
  margin-left: 5px;
  padding: 5px;
  border: none;
  background-color: transparent;
  
  cursor: pointer;
}

.update-button {
  color: #007bff;
}
.delete-button {
  color: red;
}

.todo-item button:hover {
  text-decoration: underline;
}

/* Media Queries for responsiveness */

@media only screen and (max-width: 768px) {
  body{
    background-color: #fff;
    padding: 8px;
  }
  .input-container{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    width: 100%;
    overflow-x: hidden;
  }
  .input-container input {
    width: 70%;
    margin-right: 0;
  }
  
  .input-container button {
    width: 30%;
  }
  
}
